*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
  }
  
  .default{
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 20px;
    box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.75);
    width: fit-content;
  }
  div{
    margin-left: auto;
    margin-right: auto;
  }
  p{
    font-style: italic;
    color: blue;
  }
  
  #t1 th, #t1 td {
    border: 1px solid black ;
    text-align: center;
  }
   a:hover {
    background-color: yellow;
  }
  input {
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px 10px;
  }
 
  button{
    border-radius: 10px;
    border: 2px solid red;
    color: white;
    background: black;
    padding: 5px 10px;
  }
  
 
