*{
    box-sizing:border-box;
    font-family: 'Goldman', cursive;
}
body{
    padding: 0px;
    margin: 0px;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form1{
    height: auto;
    width: 33%;
    margin-left: 33%;
    margin-top: 2%;
    background: rgba(247, 243, 247, 0.781);
    box-shadow: 0px 0px 20px white;
    border-radius: 20px;
    padding: 1%;
    
}
.form1 .card_body{
    text-align: center;
}
.form1 .card_body .heading{
    color: rgb(19, 19, 110);
}
.form1 .card_body .form-element {
    margin: 1%;
    padding: 3PX;
    width: 100%;
    
    
    
}
.form1 .card_body .form-element input,textarea{
    width: 80%;
    margin: 1%;
    padding: 3PX;
    border-color: rgb(19, 19, 110) ;
    box-shadow: none;
    border-radius: 10px;
        
}
.form1 .card_body .form-element .date1 {
    float: left;
    margin: auto;
    width: 40%;
    text-align: left;
    margin-left: 10%;
    
}

.form1 .card_body .form-element .gender {
    float: left;
    width: 40%;
    margin: auto;
    text-align: left;
    margin-left: 10%;
}
.form1 .card_body .form-element .gender input{
    width:auto
}
.form1 .card_body .btn input{
background: linear-gradient(to right,rgb(8, 15, 83) ,rgb(66, 66, 248) );
color: white;
padding: 2%;
box-shadow: none;
border-radius: 20px;
border-style: dotted;
width: 20%;
}
.form1 .card_body .btn input:hover{
    background: linear-gradient(to right,rgb(66, 66, 248),rgb(8, 15, 83) ); 
}
